<!-- Sección Contacto -->
<div class="container">
  <h2 class="text-center mb-4">Contáctanos</h2>

  <!-- Formulario de contacto
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" id="email" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="mensaje">Mensaje</label>
      <textarea id="mensaje" class="form-control" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
-->
  <!-- Información de contacto -->
  <div class="row mt-4 pb-5">
    <div class="col-md-6">
      <h5>Información de contacto</h5>
      <ul class="list-unstyled">
        <li><i class="fas fa-map-marker-alt"></i> Dirección: Macul, Santiago, Chile</li>
        <li><i class="fas fa-phone"></i> Teléfono: **********</li>
        <li><i class="fas fa-envelope" id="contacto"></i> Correo electrónico: <a href="mailto:info@example.com">stairway.cl@gmail.com</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <!-- Mapa de Google Maps
      <iframe src="https://www.google.com/maps/embed?..." frameborder="0" style="border:0; width: 100%; height: 300px;"></iframe>
-->    </div>
  </div>
</div>
