<!-- app/views/render/terms_and_conditions.html.erb -->

<h1>Términos y Condiciones</h1>

<p>Última actualización: <%= Date.current.strftime("%d de %B de %Y") %></p>

<h2>1. Introducción</h2>
<p>Estos Términos y Condiciones regulan el uso de nuestros servicios y productos. Al utilizar nuestros servicios, aceptas estar sujeto a estos términos.</p>

<h2>2. Uso de los Servicios</h2>
<p>Debes utilizar nuestros servicios de acuerdo con las leyes y regulaciones aplicables. No podrás utilizar nuestros servicios para realizar actividades ilegales o dañinas.</p>

<h2>3. Dominio Personalizado</h2>
<p>Es responsabilidad del cliente adquirir y configurar su dominio personalizado. Nosotros nos encargamos de la configuración inicial.</p>

<h2>4. Hosting en Render</h2>
<p>Utilizamos Render como proveedor de hosting, que ofrece un plan gratuito para proyectos pequeños. Sin embargo, si su aplicación crece y requiere más recursos, el cliente será responsable de contratar un plan pago en Render.</p>

<h2>5. Limitaciones de Render</h2>
<p>El plan gratuito de Render tiene limitaciones en cuanto a tráfico, almacenamiento y recursos. Si su aplicación supera estos límites, el cliente deberá actualizar a un plan pago en Render.</p>

<h2>6. Cancelación</h2>
<p>Podemos cancelar o suspender tus servicios en cualquier momento si consideramos que no cumples con estos términos.</p>

<h2>7. Modificaciones</h2>
<p>Podemos modificar estos términos en cualquier momento. Es tu responsabilidad revisar periódicamente estos términos.</p>

<h2>8. Jurisdicción</h2>
<p>Estos términos se regirán por las leyes de Chile.</p>

<h2>9. Contacto</h2>
<p>Para cualquier pregunta o inquietud, por favor contacta con nosotros en stairway.cl@gmail.com</p>
